*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;    
}

/*Section conteiner*/

.container {    
    max-width: 975px;
    margin: 0 auto;
    text-align: center;
}

.header {
    margin-bottom: 5rem;
}

.intestaction {
    color: #dd137a;
    line-height: 5rem;    
}

/*section card*/
.card-row {
    margin: 0 -0.5rem;
}
.card {
    
    padding: 0.25rem 0.5rem;
    float: left;
    width: calc(100% / 3);    
}
.card-color{
    background-color: black;
}


img{
    height: 4.5rem;
    float: left;
    margin-right: 0.5rem;
}

.name,
.profection {
    color: #fff;
    text-align: left;
    line-height: 1.5rem;
    
}

.email {
    color: blue;
    text-align: left;
    line-height: 1.5rem;
}

.clearfix::after {
    content: 0;
    display: table;
    clear: both;

}